{% extends 'base.html.twig' %}

{% block title %}HomeController!{% endblock %}

{% block body %}

    <div class="main">
        <div class="nav">
            <a href="{{ path('app_home_public') }}">Public </a> | <a href="{{ path('app_home_private') }}">Private</a>
        </div>

        <h1>Bye 👋</h1>

        <p>See ya!.</p>

    </div>
{% endblock %}
